@page
@using TshumaPayroll.Models
@model TshumaPayroll.Pages.Employees.CreateModel
@{
    ViewData["Title"] = "Create";
}
<h1>Create</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Employee.FirstName" class="control-label"></label>
                <input asp-for="Employee.FirstName" class="form-control" />
                <span asp-validation-for="Employee.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.LastName" class="control-label"></label>
                <input asp-for="Employee.LastName" class="form-control" />
                <span asp-validation-for="Employee.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Gender" class="control-label"></label>
                <input asp-for="Employee.Gender" class="form-control" />
                <span asp-validation-for="Employee.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.DateBirth" class="control-label"></label>
                <input asp-for="Employee.DateBirth" class="form-control" />
                <span asp-validation-for="Employee.DateBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.DateJoined" class="control-label"></label>
                <input asp-for="Employee.DateJoined" class="form-control" />
                <span asp-validation-for="Employee.DateJoined" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.ContactDetails" class="control-label"></label>
                <input asp-for="Employee.ContactDetails" class="form-control" />
                <span asp-validation-for="Employee.ContactDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.EmailAddress" class="control-label"></label>
                <input asp-for="Employee.EmailAddress" class="form-control" />
                <span asp-validation-for="Employee.EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.EmployeeAddress" class="control-label"></label>
                <input asp-for="Employee.EmployeeAddress" class="form-control" />
                <span asp-validation-for="Employee.EmployeeAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.JobRole" class="control-label"></label>
                <input asp-for="Employee.JobRole" class="form-control" />
                <span asp-validation-for="Employee.JobRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Grade" class="control-label"></label>
                <select asp-for="Employee.Grade" asp-items="Html.GetEnumSelectList<SalaryGrade>()"   class="form-control"></select>
                <span asp-validation-for="Employee.Grade" class="text-danger"></span>
            </div>     
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
